@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit;
}

body {
  @apply bg-white text-black;
}

html,
body {
  height: auto;
  min-height: 100%;
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
}

.dark body {
  background: linear-gradient(to bottom right, #050505, #1f0139);
  color: white;
}

.dark .vertical-timeline-element-date {
  color: white !important;
}

/* Hide scrollbar for skills scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
